{% load static %}

<!-- templates/base.html -->
<html>
  <head>
    <title>Django blog</title>
    <link href="https://fonts.googleapis.com/css?family=\
    Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}?{% now "U" %}">
  </head>
  <body>
    <div>
      <header>
        <div class="nav-left">
          <h1><a href="{% url 'pages:home' %}">Django blog</a></h1>
        </div>
        <div class="nav-right">
          <a href="{% url 'pages:post_new' %}">+ New Blog Post</a>
        </div>
      </header>
      {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p> <a href="{% url 'logout' %}">Log out </a></p>
      {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>
    <script src="{% static "js/main.js" %}?{% now "U" %}"></script>
  </body>
</html>